<p id="notice"><%= notice %></p>
<div class="row">
  <% @products.each do |product| %>
    <div class="col s3 m3">
      <div class="card card-reveal grey lighten-3">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag product.image.url %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= product.name %><i class="material-icons right">more_vert</i></span>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= product.name %><i class="material-icons right">close</i></span>
          <%= product.description %>
        </div>

        <div class="card-action grey lighten-2">
          <%= link_to 'Show', product %><br>
          <%= link_to 'Edit', edit_product_path(product) %><br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'New Product', new_product_path %>
