<p id="notice"><%= notice %></p>




<div class="row">
  <div class="grid-example col s8">
    <div class="card center">
      <div class="card-image">
        <%= image_tag @product.image.url(:medium) %>
        <span class="card-title"><strong>Name:</strong>
          <%= @product.name %></span>
      </div>
      <div class="card-content">
        <strong>Price:</strong>
        <%= @product.price %>
        <p> <%= @product.description %></p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </div>
    </div>
  </div>
</div>